## Custom

api/__init__

## Python

# Environments
.venv
venv

# Byte-compiled / optimized / DLL files
__pycache__/

# Pytest cache
.pytest_cache

## IntelliJ's IDEs

.idea

## Visual Studio Code

.vscode

## macOS

.DS_Store
