aiofile==3.8.7
common-code[test] @ git+https://github.com/csia-pme/csia-pme.git@main#subdirectory=common-code
flake8==5.0.4
makefun==1.15.0
pytest==7.2.0
pytest-asyncio==0.20.3
pytest-cov==4.0.0
pytest-httpserver==1.0.6
psycopg2-binary==2.9.5
python-multipart==0.0.5
sqlmodel==0.0.8
testcontainers-core==0.0.1rc1
testcontainers-minio==0.0.1rc1
testcontainers-postgres==0.0.1rc1
