.custom-handle {
    width: 10px !important;
    height: 10px !important;
}

.custom-handle[about='light'] {
    border-color: lightgrey;
}

.custom-handle[about='dark'] {
    border-color: #9e9e9e;
}
