code {
	tab-size: 2
}

[data-md-color-scheme="default"] {
	--md-code-hl-color: var(--md-accent-fg-color--transparent);
	--md-primary-fg-color: #d41367;
	
}

[data-md-color-scheme="slate"] {
	--md-code-hl-color: var(--md-accent-fg-color--transparent);
	--md-primary-fg-color: #892650;
}
