aiofile==3.8.7
common-code[test] @ git+https://github.com/swiss-ai-center/core-engine.git@main#subdirectory=common-code
flake8==5.0.4
matplotlib==3.6.3
numpy==1.24.2
pandas==1.5.3
pytest==7.2.0
pytest-asyncio==0.20.3
pytest-cov==4.0.0
pytest-httpserver==1.0.6
scikit-learn==1.2.1
tensorflow==2.9.0
